header {
    background-color: rgb(70, 70, 70);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav li:first-child {
    margin-left: center;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  