label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #242223;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border: 2px solid #242223;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  
  button {
    background-color: #242223;
    color: #FFF;
  }
  
  button:hover {
    background-color: #242223;
  }
  